html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Heebo, arial, sans-serif;
    background-color: #f7f7f7;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 1.5rem 0 0 1.5rem;
}

.card {
    border-top: solid 1px lightgray;
    padding: 15px;
    margin: 18px;
    display: flex;
    flex-direction: row;

    /* animation 1
    transition: all 0.4s ease-out;
    opacity: 0;
    */

    /* animation 2
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76)
    */

    /* animation 3 */
    perspective: 100px;
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.card.show {
    /* animation 1
    opacity: 1;
    */

    /* animation 2
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
    */

    /* animation 3 */
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.card-img {
    margin-right: 16px;
    height: 180px;
}

.card-img img {
    width: auto;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card-subtitle {
    color: rgba(9, 10, 11, 0.5);
    font-size: 14px;
    line-height: 16px;
    width: max-content;
}

.card-movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    overflow-x: auto;
    width: 80vw;
    height: fit-content;
    overflow-y: clip;
    padding: 5px;
}

.card-subcard {
    background-color: #fff;
    width: 157px;
    height: 100%;
    border-radius: 6px;
    margin: 4px 8px 4px 0;
    display: flex;
    cursor: pointer;
    transition: box-shadow 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card-subcard:hover {
    box-shadow: 0 0 16px #00000029;
}

.subcard-body {
    padding: 13px 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.trigger {
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 3;
}
.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.modal-title {
    color: rgb(55, 53, 47);
    font-weight: 700;
    line-height: 1.2;
    font-size: 24px;
    cursor: text;
}
.modal-body {
    padding: 0 24px;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.btn-group {
    display: flex;
}
.close-button,
.reload-button {
    margin: 0 4px;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.no-scroll {
    overflow: hidden;
}
